# 编译产物
build/
build_raft/
bin/
*.o
*.a
*.so

# 运行期节点存储盒子与物理数据
node_*_storage/
*.wal
*.vlog
*.sst

# 混沌与压测临时产物
out.perf
out.folded
raft_perf.svg
*.log

# IDE 与系统文件
.vscode/
.idea/
.DS_Store

compile_commands.json
.cache/
.clangd/compile_commands.json
